blender-downloadfiles/*
blender/smpl/smpl_webuser/__pycache__/*
blender/download_files/*
ProvNERF Pose Generation/plots/*
plots/*
*.png
ProvNERF Pose Generation/ProvNERF results/*.obj
ProvNERF Pose Generation/gif_frames/*
3D_Early_testing_Not_Using/*
*.pth
*.obj
PAPR/data/nerf_synthetic
PAPR/data/TanksAndTemple
Human_Pose_Generation/ProvNERF_Pose_Generation/all_scripts_experiment/