blender-downloadfiles/*
blender/smpl/smpl_webuser/__pycache__/*
blender/download_files/*
ProvNERF Pose Generation/plots/*
plots/*
*.png
ProvNERF Pose Generation/ProvNERF results/*.obj
ProvNERF Pose Generation/gif_frames/*
3D_Early_testing_Not_Using/*
